<app-nav-bar></app-nav-bar>
<h3 align="center">Set New Password</h3>

<form onSubmit="return checkPassword(this)">
  <div class="container">
    <form action="/action_page.php">
      <label for="psw">Login Password</label>
      <input
        type="password"
        id="psw"
        name="psw1"
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
        required
      />

      <label for="psw">Confirm Login Password</label>
      <input
        type="password"
        id="psw"
        name="psw2"
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
        required
      />
      <br />
      <br />

      <label for="psw">Transaction Password</label>
      <input
        type="password"
        name="psw3"
        pattern="[0-9][0-9][0-9][0-9]"
        title="SIX DIGIT"
        required
      />
      <label for="psw">Confirm Transaction Password</label>
      <input
        type="password"
        name="psw4"
        pattern="[0-9][0-9][0-9][0-9]"
        title="SIX DIGIT"
        required
      />

      <div class="center">
        <button class="button button1" type="submit" value="Submit">
          Submit
        </button>
      </div>
    </form>
  </div>
</form>
