<div class="wrapper">
  <div class="header">Inititate IMPS Payment</div>
  <div class="body">
    <div class="form">
      <form action="">
        <div>
          <label for="fromAccount">From Account</label>
          <p>-</p>
          <input type="text" id="rtgsFromAccount" />
        </div>
        <div class="account">
          <label for="bname">To Account</label>
          <p>-</p>
          <input type="text" id="rtgsToAccount" />
        </div>
        <div>
          <label for="bname">Amount</label>
          <p>-</p>
          <input type="text" id="rtgsAmount" />
        </div>
        <div>
          <label for="bname">Transaction Date</label>
          <p>-</p>
          <input type="date" id="rtgsTransaction" />
        </div>
        <div>
          <label for="bname">Maturity Instructions</label>
          <p>-</p>
          <input type="text" id="rtgsMatInst" />
        </div>
        <div>
          <label for="bname">Remark</label>
          <p>-</p>
          <input type="text" id="rtgsRemark" />
        </div>
        <br />
        <div class="buttons">
          <div class="leftbuttons">
            <button>Save</button>
            <button>Reset</button>
            <button>Save as Template</button>
          </div>
          <div class="rightButtons">
            <button class="contBtn">Continue</button>
          </div>
        </div>
      </form>
    </div>
    <div class="ctnBtn">
      <button>Add New +</button>
    </div>
  </div>
</div>
