<app-nav-bar></app-nav-bar>
<div class="wrapper">
  <div class="header">Add New Beneficiary</div>
  <div class="body">
    <div class="form">
      <form action="">
        <div>
          <label for="bname">Beneficiary Name</label>
          <p>-</p>
          <input type="text" />
        </div>
        <div>
          <label for="bname">Beneficiary Account Number</label>
          <p>-</p>
          <input type="text" />
        </div>
        <div>
          <label for="bname">Re-Enter Account Number</label>
          <p>-</p>
          <input type="text" />
        </div>
        <input type="checkbox" />
        <label for="saveb">Save Beneficiary</label>
        <div>
          <label for="bname">Nick Name</label>
          <p>-</p>
          <input type="text" />
        </div>
        <div>
          <button>Save As Beneficiary</button>
        </div>
      </form>
    </div>
  </div>
</div>
