<app-nav-bar></app-nav-bar>
<div class="dashboardWrapper">
  <header class="main-head">Dashboard</header>
  <nav class="main-nav">
    <ul>
      <li><a routerLink="/accountStatement">Account Statement</a></li>
      <li>
        <div class="dropdown">
          <span>Fund Transfer</span>
          <div class="dropdown-content">
            <a rel="rtgs" routerLink="/rtgsTransfer">RTGS Transfer</a>
            <a rel="neft" routerLink="/neftTransfer">NEFT Transfer</a>
            <a rel="imps" routerLink="/impsTransfer">IMPS Transfer</a>
          </div>
        </div>
      </li>
      <li><a routerLink="/userProfile">User Profile</a></li>
      <li><a href="">Change UserID Password</a></li>
    </ul>
  </nav>
  <article [hidden]="false" class="content">
    <h1
      style="
        margin: 10px;
        padding: 10px;
        font-size: 30px;
        font-weight: 600;
        color: rgb(72, 189, 188);
      "
    >
      Welcome to Online Banking
    </h1>
    <p
      style="
        margin: 15px;
        padding: 10px;
        font-size: 25px;
        font-weight: 400;
        color: rgb(151, 181, 206);
      "
    >
      Hello, {{ dashBoardDetails.customer.firstName }}
    </p>
    <div class="balanceCard">
      <p
        style="
          background-color: transparent;
          margin: 10px;
          padding: 10px;
          color: black;
          font-size: 30px;
        "
      >
        Account Balance <br />
        ₹ {{ dashBoardDetails.balanceAmount }}
      </p>
      <p style="background-color: transparent; margin: 10px">
        Account No: XXXXXXXXXX{{ dashBoardDetails.accountId }}
      </p>
      <p style="background-color: transparent; margin: 10px">
        Savings Bank Account
      </p>
    </div>
    <div class="cashButtons">
      <button>Cash Withdrawl</button>
      <button>Cash Deposit</button>
    </div>
  </article>
  <aside class="side">
    <ul>
      <li><a routerLink="/dashboard">Home</a></li>
      <li><a routerLink="/accountDetails">Account Details</a></li>
      <li><a routerLink="/accountSummary">Account Summary</a></li>
      <li><a routerLink="/impsTransfer">Fund Transfer</a></li>
      <li><a routerLink="/accountStatement">Account Statement</a></li>
    </ul>
  </aside>
</div>
