<div class="dashboardWrapper">
  <header class="main-head">Dashboard</header>
  <nav class="main-nav">
    <ul>
      <li><a href="/accountStatement">Account Statement</a></li>
      <li>
        <div class="dropdown">
          <span>Fund Transfer</span>
          <div class="dropdown-content">
            <a rel="rtgs" href="/rtgsTransfer">RTGS Transfer</a>
            <a rel="neft" href="/neftTransfer">NEFT Transfer</a>
            <a rel="imps" href="/impsTransfer">IMPS Transfer</a>
          </div>
        </div>
      </li>
      <li><a href="">User Profile</a></li>
      <li><a href="">Change UserID Password</a></li>
    </ul>
  </nav>
  <article class="content">
    <h1>Main area</h1>
    <p>Welcome to XYZ bank netbanking.</p>
  </article>
  <aside class="side">
    <ul>
      <li><a href="/dashboard">Home</a></li>
      <li><a href="">Account Details</a></li>
      <li><a href="">Account Summary</a></li>
      <li><a href="">Fund Transfer</a></li>
      <li><a href="/accountStatement">Account Statement</a></li>
    </ul>
  </aside>
</div>
