<div class="accountStmtWrapper">
  <header class="main-head">Account Statement</header>
  <article class="content">
    <div class="date">
      <label for="from">Statement from</label>
      <input type="date" />
      <label for="to">to</label>
      <input type="date" />
    </div>
    <div class="accountGrid">
      <div class="grid-item">Select</div>
      <div class="grid-item">Account Number</div>
      <div class="grid-item">Name</div>
      <div class="grid-item">Account Type</div>
      <div class="grid-item">Balance</div>
      <div class="grid-item"><input type="radio" /></div>
      <div class="grid-item">15098474</div>
      <div class="grid-item">Sankalp</div>
      <div class="grid-item">Savings</div>
      <div class="grid-item">50000</div>
    </div>

    <div class="submitbutton">
      <button>Submit</button>
    </div>
  </article>
  <aside class="side">
    <ul>
      <li><a href="/dashboard">Home</a></li>
      <li><a href="">Account Details</a></li>
      <li><a href="">Account Summary</a></li>
      <li><a href="">Fund Transfer</a></li>
      <li><a href="/accountStatement">Account Statement</a></li>
    </ul>
  </aside>
</div>
